<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dabliu</title>

    <link href="<%= static_path(@conn, "/css/vendor.css") %>" rel="stylesheet"/>
    <link href="<%= static_path(@conn, "/front/css/app.css") %>" rel="stylesheet"/>
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Preloader -->
    <div id="preloader"><div id="load"></div></div>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="<%= page_path(@conn, :index) %>">
            <h1>D<span style="color:red;">a</span>bliu</h1>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#intro">Home</a></li>
            <li><a href="#nosotros">Nosotros</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<%= page_path(@conn, :show_catalog, "boxers")%>">Boxers</a></li>
                <li><a href="<%= page_path(@conn, :show_catalog, "slips")%>">Slips</a></li>
              </ul>
            </li>

            <li><a href="https://underweardabliu.wordpress.com/" target="_blank">Blog</a></li>
            <li><a href="#venta">Puntos De Venta</a></li>
            <li><a href="#venta">Tienda</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>

        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <%= render @view_module, @view_template, assigns %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="wow shake" data-wow-delay="0.4s">
              <div class="page-scroll marginbot-30">
                <a href="#intro" id="totop" class="btn btn-circle">
                  <i class="fa fa-angle-double-up animated"></i>
                </a>
              </div>
            </div>
            <p>&copy;Copyright 2015 - Dabliu</p>

          </div>
        </div>	
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/front/js/app.js") %>"></script>
  </body>
</html>
